# Compiled class files
*.class

# Log files
*.log

# Directory for Maven
/target/

# Directory for Gradle
/build/

# IDE files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# AWS credentials
.aws/credentials
